/*常见问题*/

body {
    width: 100%;
    /*background: #eee;*/
}

.wenti {
    margin-bottom: 4.2667rem;
}

.wenti h2 {
    width: 100%;
    height: 1.8773rem;
    line-height: 1.8773rem;
    font-size: 0.64rem;
    text-align: center;
    font-weight: bold;
    color: #101d26;
}

.wenti ul {
    width: 100%;
    color: #101d26;
}

.wenti ul li {
    width: 100%;
}

.wenti ul li h3 {
    width: 95%;
    height: 1.4507rem;
    line-height: 1.4507rem;
    font-size: 0.512rem;

    border-bottom: 0.0213rem dashed #ccc;
    padding: 0 0.512rem;
    background: url(../images/jiantou.png) no-repeat center right;
}

.wenti ul li p {
    font-size: 0.512rem;
    color: #333;
    padding: 0.64rem 0.512rem;
    display: none;
    background: #eee;
}



/*合*/

html {
    font-size: 20px;
}


/*pc端样式*/


/*移动端样式*/

.box {
    /*width: 16.0rem;*/
    /*占位*/
    /*回到顶部*/
}

.box .boxtop {
        width: 16.0rem;
        height: 1.8773rem;
        display: flex;
        background: #101c26;
        position: fixed;
        align-items: center;
        justify-content: space-between;
        left: 0;
        top: 0;
        z-index: 9999;
    }
    .box .boxtop .logo {
        width:20%;
        background:url(../../../images/logo.png) no-repeat center left;
        background-size:36%;
        font-size: 0.768rem;
        color:#fff;
        margin-left:4%;
        padding-left:1.4267rem;
        line-height: 1.8773rem;
    }
    .box .boxtop .topc{
      font-size:0.768rem;
      text-align:center;
      color:#fff;
    }
    .box .boxtop .xs {
        width:20%;
        height: 0.6187rem;
        background: url(../../../images/cd.png) no-repeat center right;
        background-size: 23%;
        margin-right:4%;  
    }

.box .zw {
    height: 1.8773rem;
}

.box .hddb {
    width: 1.024rem;
    height: 1.024rem;
    background: url(../../../images/bg1.png) no-repeat center;
    background-color: rgba(16, 29, 38, 0.8);
    background-size: 60%;
    position: fixed;
    z-index: 200;
    right: 0.4907rem;
    bottom: 1.856rem;
    display: none;
}

.box .boxs {
    width: 16.0rem;
    position: relative;
    /*右边菜单栏*/
}

.box .boxs .boxl {
    width: 16.0rem;
    position: absolute;
    /*background: #eee;*/
    top: 0;
    left: 0;
    /*遮罩层*/
    /*顶部bannr*/
    /*.tel中国*/
    /*视频*/
    /*优势*/
    /*产品及服务*/
    /*合作伙伴*/
    /*渠道商招募*/
    /*底部头部*/
    /*底部*/
}

.box .boxs .boxl .zzc {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #ccc;
    display: none;
    opacity: 0.5;
    top: 0;
    left: 0;
    z-index: 100;
}

.box .boxs .boxl .btmTop {
    display: flex;
    justify-content: center;
    margin-bottom: 1.28rem;
}

.box .boxs .boxl .btmTop .btmTop-a {
    /*width: 2.3467rem;*/
    font-size: 0.5547rem;
    color: #101c26;
}

.box .boxs .boxl .btm {
    background: #101c26;
    text-align: center;
    color: #fff;
    line-height: 1.4507rem;
}

.box .boxs .cmenu {
    width: 0;
    /*height: 21.3333rem;*/
    height: 100%;
    background: #1f0038;
    position: fixed;
    top: 0;
    right: 0;
    display: none;
}

.box .boxs .cmenu .cmenu-ul {
    padding: 4.3946rem 0.5547rem 0 0.5547rem;
}

.box .boxs .cmenu .cmenu-ul .cmenu-li {
    border-bottom: 1px solid #fff;
    margin-bottom: 0.8533rem;
}

.box .boxs .cmenu .cmenu-ul .cmenu-li .cmenu-a {
    width: 7.04rem;
    display: block;
    font-size: 0.5973rem;
    color: #fff;
    line-height: 0.6827rem;
    margin-bottom: 0.3413rem;
}

.box .boxs .cmenu .cmenu-ul .cmenu-li .cmenu-a .a-span {
    padding-right: 0.704rem;
    height: 0.64rem;
    margin: 0 0.512rem;
}

.box .boxs .cmenu .cmenu-ul .cmenu-li .cmenu-a .span1 {
    background: url(../../../images/span1.png) no-repeat center;
    background-size: 100%;
}

.box .boxs .cmenu .cmenu-ul .cmenu-li .cmenu-a .span2 {
    background: url(../../../images/span2.png) no-repeat center;
    background-size: 100%;
}

.box .boxs .cmenu .cmenu-ul .cmenu-li .cmenu-a .span3 {
    background: url(../../../images/span3.png) no-repeat center;
    background-size: 100%;
}

.box .boxs .cmenu .cmenu-ul .cmenu-li .cmenu-a .span4 {
    background: url(../../../images/span4.png) no-repeat center;
    background-size: 100%;
}

.box .boxs .cmenu .cmenu-ul .cmenu-li .cmenu-a .span5 {
    background: url(../../../images/span5.png) no-repeat center;
    background-size: 100%;
}

.box .boxs .cmenu .cmenu-ul .cmenu-li .cmenu-a .span6 {
    background: url(../../../images/span6.png) no-repeat center;
    background-size: 100%;
}

.box .boxs .cmenu .cmenu-ul .cmenu-li .cmenu-a .span7 {
    background: url(../../../images/span7.png) no-repeat center;
    background-size: 100%;
}


}